<table>
    <tr>
        <th>NOME</th>
        <th>PREÇO</th>
        <th>QUANTIDADE</th>
    </tr>
    <tr>
        <td>
            <div class='id-produto' style='display: none'>id_produto</div>
            <div class='nome-produto'>nome_produto</div>
        </td>
        <td>preco_produto_reajustado</td>
        <td>
            <form class='adicionar'>
                <input type='number' name='quantidade' value='1' min='1' max='20'/>
                <button type='submit'>Adicionar</button>
            </form>
        </td>
    </tr>
</table>